body {
    background-color: whitesmoke;
}
h1 {
    color:cornflowerblue;
}
.product-title {
    color:tomato;
}
.product-desc {
    color:darkseagreen;
}
.product-img img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.product-options {
    text-align: center;
    margin-top: 20px;
}
.size-options {
    margin-bottom: 10px;
}
.quantity {
    margin-bottom: 10px;
}
.quantity select {
    padding: 10px;
}
.price {
    font-size: 16px;
}
.add-to-bag {
    background-color: forestgreen;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
p {
    color: black;
}
#breadcrumb ul {
    list-style: none;
    padding: 10px;
    background-color: #eee;
}
#breadcrumb li {
    display: inline;
    margin-right: 10px;
}

#special {
    color:brown;
}
.test-class {
    color:blueviolet;
}